In [2]:
import pandas as pd
import numpy as np
from sklearn import svm
from sklearn import metrics
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

## Read in csv files

In [4]:
application_test = pd.read_csv('~/.kaggle/competitions/home-credit-default-risk/application_test.csv')
application_train = pd.read_csv('~/.kaggle/competitions/home-credit-default-risk/application_train.csv')

# bureau = pd.read_csv('bureau.csv')
# bureau_balance = pd.read_csv('bureau_balance.csv')
# credit_card_balance = pd.read_csv('credit_card_balance.csv')
# HomeCredit_columns_description = pd.read_csv('HomeCredit_columns_description.csv')
# installments_payments = pd.read_csv('installments_payments.csv')
# POS_CASH_balance = pd.read_csv('POS_CASH_balance.csv')
# previous_application = pd.read_csv('previous_application.csv')
# sample_submission = pd.read_csv('sample_submission.csv')

In [3]:
application_test.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
3,100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
4,100038,Cash loans,M,Y,N,1,180000.0,625500.0,32067.0,625500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
application_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
application_train.shape

(307511, 122)

## Cleaning up the data

### Label Encoding

In [6]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
columns_encoded = 0

In [ ]:
df = df.append(test_df).reset_index()

In [7]:
for col in application_train:
    if application_train[col].dtype == 'object':
        
        if len(list(application_train[col].unique())) <= 2:
            le.fit(application_train[col])
            
            application_train[col] = le.transform(application_train[col])
            application_test[col] = le.transform(application_test[col])
            
            columns_encoded += 1

In [8]:
# How many columns did we label encode?
print('{} columns have been label encoded'.format(columns_encoded))

3 columns have been label encoded

In [ ]:
# # NAME_CONTRACT_TYPE: Cash loans = 0, Cash loans = 1
# application_train["NAME_CONTRACT_TYPE"][application_train["NAME_CONTRACT_TYPE"] == "Cash loans"] = 0
# application_train["NAME_CONTRACT_TYPE"][application_train["NAME_CONTRACT_TYPE"] == "Revolving loans"] = 1
# application_test["NAME_CONTRACT_TYPE"][application_test["NAME_CONTRACT_TYPE"] == "Cash loans"] = 0
# application_test["NAME_CONTRACT_TYPE"][application_test["NAME_CONTRACT_TYPE"] == "Revolving loans"] = 1

# # CODE_GENDER: Male = 1, Female = 1
# application_train["CODE_GENDER"][application_train["CODE_GENDER"] == "M"] = 0
# application_train["CODE_GENDER"][application_train["CODE_GENDER"] == "F"] = 1
# application_test["CODE_GENDER"][application_test["CODE_GENDER"] == "M"] = 0
# application_test["CODE_GENDER"][application_test["CODE_GENDER"] == "F"] = 1

### Checking to see if label encoding worked

In [9]:
application_train["NAME_CONTRACT_TYPE"].value_counts()

0    278232
1     29279
Name: NAME_CONTRACT_TYPE, dtype: int64

In [10]:
application_test["NAME_CONTRACT_TYPE"].value_counts()

0    48305
1      439
Name: NAME_CONTRACT_TYPE, dtype: int64

In [11]:
application_train["TARGET"].value_counts()

0    282686
1     24825
Name: TARGET, dtype: int64

In [12]:
application_train["NAME_CONTRACT_TYPE"].isnull().sum()

0

### One Hot Encoding

In [13]:
application_train = pd.get_dummies(application_train)
application_test = pd.get_dummies(application_test)

In [14]:
print("Shape of Training Features: ", application_train.shape)
print("Shape of Testing Features: ", application_test.shape)

Shape of Training Features:  (307511, 243)
Shape of Testing Features:  (48744, 239)

In [15]:
target_col = application_train["TARGET"]

application_train, application_test = application_train.align(application_test,\
    join = 'inner', axis = 1)

application_train["TARGET"] = target_col

In [16]:
print("Shape of Training Features: ", application_train.shape)
print("Shape of Testing Features: ", application_test.shape)

Shape of Training Features:  (307511, 240)
Shape of Testing Features:  (48744, 239)

In [17]:
application_train.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,...,WALLSMATERIAL_MODE_Block,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Monolithic,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes,TARGET
0,100002,0,0,1,0,202500.0,406597.5,24700.5,351000.0,0.018801,...,0,0,0,0,0,1,0,1,0,1
1,100003,0,0,0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,...,1,0,0,0,0,0,0,1,0,0
2,100004,1,1,1,0,67500.0,135000.0,6750.0,135000.0,0.010032,...,0,0,0,0,0,0,0,0,0,0
3,100006,0,0,1,0,135000.0,312682.5,29686.5,297000.0,0.008019,...,0,0,0,0,0,0,0,0,0,0
4,100007,0,0,1,0,121500.0,513000.0,21865.5,513000.0,0.028663,...,0,0,0,0,0,0,0,0,0,0

## Splitting application_train into test and train data

In [18]:
y = application_train['TARGET']

In [20]:
del application_train['TARGET']

In [22]:
X = application_train

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 0)

In [24]:
X_train.shape

(230633, 239)

In [25]:
y_test.shape

(76878,)

## Setting features to be used in our model
Use three columns: NAME_CONTRACT_TYPE, AMT_INCOME_TOTAL, AMT_CREDIT

### Finding correlations between our features and TARGET column

In [ ]:
correlations = application_train.corr()['TARGET'].sort_values()

In [ ]:
print('Most Positive Correlations:\n', correlations.tail(15))
print('\nMost Negative Correlations:\n', correlations.head(15))

In [ ]:
# X_train = application_train[["NAME_CONTRACT_TYPE", "AMT_INCOME_TOTAL","AMT_CREDIT"]]
# X_test = application_test[["NAME_CONTRACT_TYPE", "AMT_INCOME_TOTAL","AMT_CREDIT"]]
# X_train.shape
# X_train.head()

In [ ]:
# y_train = application_train.iloc[:,1]
# y_test = application_test.iloc[:,1]
# y_train.shape
# y_train.head()

In [ ]:
X_train.isnull().sum().sort_values(ascending = False)[:20]

In [ ]:
X_train = X_train.fillna(X_train.median())

In [ ]:
X_train.isnull().sum().sort_values(ascending = False)[:20]
#X_train.head()
# y_train.head(50)

### (Unsuccessful) attempt at Linear Regression Model

In [ ]:
# Linear Regression Model
# from sklearn.linear_model import LinearRegression

# linear_reg = LinearRegression()
# linear_reg = linear_reg.fit(X=X_train, y=y_train)
# train_preds = linear_reg.predict_proba(X_train)
# test_preds = linear_reg.predict_proba(X_test)

### (Unsuccessful) attempt at Decision Tree Classifier

In [ ]:
# from sklearn import tree
# clf = tree.DecisionTreeClassifier()
# clf = clf.fit(X_train, y_train)
# clf = clf.fit(application_train.filter(regex = r'^EXT_SOURCE_.',axis = 1),application_train["TARGET"])
#clf = DecisionTreeClassifier().fit(X_train, y_train)

In [ ]:
# probabilities = clf.predict_proba(X_test) #probabilities = True)

# Kaggle Submission 1: Random Forest Classifier Pt. 1
Kaggle Score Received: 0.489

In [ ]:
X_train2 = application_train[["NAME_CONTRACT_TYPE", "AMT_INCOME_TOTAL","AMT_CREDIT", "DAYS_BIRTH", "REGION_RATING_CLIENT_W_CITY"]]
X_test2 = application_test[["NAME_CONTRACT_TYPE", "AMT_INCOME_TOTAL","AMT_CREDIT", "DAYS_BIRTH", "REGION_RATING_CLIENT_W_CITY"]]
X_train2.shape
X_train2.head()

In [ ]:
y_train2 = application_train.iloc[:,1]
y_test2 = application_test.iloc[:,1]
y_train2.shape
y_train2.head()
print(y_test2)

In [ ]:
from sklearn.ensemble import RandomForestClassifier

forest2 = RandomForestClassifier(n_estimators = 100, max_leaf_nodes = 2, max_depth = 2)
forest2 = forest2.fit(X_train2,y_train2)

In [ ]:
feature_importance_values = forest2.feature_importances_
feature_importances = pd.DataFrame({'feature': features, 'importance': feature_importance_values})

In [ ]:
feature_importances

In [ ]:
probabilities2 = forest2.predict_proba(X_test2)[:, forest2.classes_ == 1]

In [ ]:
features = list(X_train2.columns)

In [ ]:
probabilities2.shape

In [ ]:
print(probabilities2)

# Kaggle Submission 2: using a Random Forest Classifier Pt. 2
Kaggle Score Received: 0.525

In [ ]:
from sklearn.ensemble import RandomForestClassifier

forest = RandomForestClassifier(max_depth = 3)
forest = forest.fit(X_train,y_train)
probabilities = forest.predict_proba(X_test)[:, forest.classes_ == 1]

## Testing the model with AUC/ROC

In [ ]:
metrics.roc_auc_score(y_test2, probabilities2)

## Outputting our CSV for Kaggle

In [ ]:
arr = np.hstack([np.array(application_test["SK_ID_CURR"]).reshape(-1,1), probabilities2]).reshape((-1,2), order = 'F')
my_submission2 = pd.DataFrame({
    "SK_ID_CURR": arr[:,0],
    "TARGET": arr[:,1]
})
my_submission2.SK_ID_CURR = my_submission2.SK_ID_CURR.astype(int)
my_submission2.TARGET = my_submission2.TARGET.astype(float)

my_submission2.to_csv("submission2.csv", index = False)

# UNSUCCESSFUL Kaggle Submission 3: Using XGBOOST
## Don't run this, see KAGGLE XGBoost.ipynb

Kaggle Score Received: ?

In [26]:
# Making a Kaggle Prediction using XGBOOST
import xgboost as xgb

In [28]:
#y_train

In [ ]:
# big_X_train = X_train.iloc[:,2:200]
# big_X_test = X_test.iloc[:,2:200]
# type(big_X_train)

In [ ]:
# big_y_train = y_train.iloc[:,1]
# big_y_test = y_test.iloc[:,1]
# big_y_train.head()

In [ ]:
application_test = application_test.drop(columns=["EMERGENCYSTATE_MODE_Yes"])

In [ ]:
X_train, application_test = X_train.align(application_test, join='inner', axis=1)

In [ ]:
# dtrain = xgb.DMatrix(X_train, label=y_train)
# dtest = xgb.DMatrix(X_test)
dtrain = xgb.DMatrix(X_train, label=y_train)
dtest = xgb.DMatrix(application_test)

In [ ]:
# big_X_train['TARGET']

In [ ]:
param = {'max_depth':2, 'eta':1, 'silent':1, 'objective':'binary:logistic' }

plst = param.items()

In [ ]:
bst = xgb.train(param, dtrain)

In [ ]:
application_test = application_test.iloc[:, 2:]

In [ ]:
preds = bst.predict(dtest)

In [ ]:
preds.shape

In [ ]:
new_preds = preds.reshape(48744,1)

In [ ]:
new_preds.shape

In [ ]:
application_test.head()

In [ ]:
# X_test["SK_ID_CURR"].shape

In [ ]:
# np.array(application_test["SK_ID_CURR"]).reshape(-1,1).shape

In [ ]:
new_preds.shape

In [ ]:
application_test.head()

In [ ]:
preds.shape

In [ ]:
new_preds.shape

arr = np.hstack([np.array(test_labels), preds]).reshape((-1,2), order = 'F')

In [ ]:
my_submission3 = pd.DataFrame({
    "SK_ID_CURR": arr[:,0],
    "TARGET": arr[:,1] })

In [ ]:
my_submission3.SK_ID_CURR = my_submission3.SK_ID_CURR.astype(int)
my_submission3.TARGET = my_submission3.TARGET.astype(float)

my_submission3.to_csv("submission3.csv", index = False)

In [ ]:
metrics.roc_auc_score(y_test, new_preds)